*{
  margin: 0;
  padding: 0;
}

.page{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right bottom,rgb(162, 214, 232), rgb(254, 210, 169));
}

.container{
  min-width: 400px;
  max-width: 750px;
  width: 60vw;
  aspect-ratio : 4 / 3;
  display: grid;
  grid-template-columns:  1fr 1fr;
  background-color: white;
  border-radius: 15px;
}

.leftContainer{
  display: flex;
  margin: 4px;
  border-radius: 15px;
  background-image: url("./background.png");
  background-size: cover;
}

.leftTop{
  display: flex;
  align-items: center;
  width: 100%;
  height: 25%;
  padding-left: 20px;
  
}

.leftTitle{
  font-family: "Roboto";
  font-weight: 100;
  font-size: clamp(0.9rem, 2.3vw, 1.8rem);
  color: white;
}

.rightContainer{
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  border: 1px solid red;
  margin: 30px 4px;
  border-radius: 15px;
}

.rightTitle{
  font-family: "Roboto";
  font-size : clamp(0.9rem,2.3vw,1.8rem);
  font-weight: 500;
  color: black;
}