*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.taskHeader{
  display: flex;
  background-color: rgb(242, 242, 242);
  border : none;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.taskHeaderLeft{
  display : flex;
  align-items: center;
  gap : 10px;
  padding : 10px 0;
}

.taskHeaderLeft img{
  height: 24px;
  width: 24px;
  object-fit: cover;
  margin-left: 12px;
}

.taskHeaderLeft h2{
  font-size: 1.1rem;
}

.arrowButton{
  all: unset;
  margin-right: 16px;
  display: flex;
  height: auto;
  width: auto;
  background-color: rgb(242, 242, 242);
  cursor : pointer;
}

.arrowImage{
  height: 16px;
  width: 16px;
  object-fit: cover;
  transition: transform 0.2s;
}

.open{
  transform : rotate(180deg)
}