*{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

.container{
  position : fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: clamp(260px,20vw,400px);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  padding: 0 15px;
}

.profil{
  display: flex; 
  align-items: center;
  gap: 0.6rem;
  padding: clamp(2px,0.6vw,8px) 0;
  height: 76px;
  width: 100%;
  border-bottom: 1px solid rgb(203, 198, 198);
}

.profilPicture{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.profilInfo{
  display: flex;
  flex-direction: column;
  align-items: top;
  padding-left: 0.2rem;
  gap :  0.2rem;
}

.profilUserName{
  font-weight: 600;
  font-size: 1rem;
}

.profilEmail{
  font-weight: 300;
  font-size: 0.8rem;
}

.dashboardInboxContainer{
  margin-top: 0;
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(203, 198, 198);
}

.dashboardContainer, .inboxContainer{
  all: unset;
  display: flex;
  justify-content: space-between;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 8px;

  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 30px;
}

.dashboardContainer:hover, .inboxContainer:hover{
  background-color: rgb(220, 213, 213);
}

.dashboardLeft, .inboxLeft{
  display: flex;
  align-items: center;
  gap : 0.8rem;
}

.dashboardIcon, .inboxIcon{
  width: 30px;
  height: 30px;
  object-fit: cover;
}

.dashboardLeft span, .inboxLeft span{
  font-size: 0.9rem;
}

.dashboardNotif, .inboxNotif{
  display: flex;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: rgb(233, 64, 64);
  border: none;
  margin-right: 12px;
}