*{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

.container{
  position : fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: clamp(260px,20vw,400px);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(203, 198, 198);
}

.profil{
  display: flex; 
  align-items: center;
  gap: 0.6rem;
  padding: 5px clamp(2px,0.5vw,8px);
  height: 66px;
  width: 100%;
  border: 1px solid black;
}

.profilPicture{
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.profilInfo{
  display: flex;
  flex-direction: column;
  align-items: top;
  padding-left: 0.2rem;
  gap :  0.2rem;
}

.profilUserName{
  font-weight: 600;
}
