*{
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
}

.ProjectSectionContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 1fr;
}

.firstRow{
  margin: 12px 0;
  display: flex;
  align-items: center;
  height: auto;
  width: 100%;
  justify-content: space-between;
}

.firstRow span{
  font-size: 0.9rem;
  margin-left: 10px;
  color: rgb(112, 108, 108);
}

.buttonPlusProject{
  background-color: rgb(242, 242, 242);
  border: none;
  margin-right: 14px;

  cursor: pointer;
}

.plusIcon{
  height: 20px;
  width: 20px;
  transition: transform 0.6s;
}

.open{
  transform: rotate(90deg);
}

.close{
  transform: rotate(-90deg);
}

.projectList{
  list-style: none;
}

.projectButton{
  all: unset;
  display: flex;
  align-items: center;
  padding:10px 0;
  gap : 10px;
  height: auto;
  width: 100%;

  cursor: pointer;
  transition: background-color 0.5s;
  border-radius: 25px;
}

.projectButton:hover{
  background-color: rgb(220, 213, 213);
}

.projectButton img{
  height: 24px;
  width: 24px;
  margin-left: 24px;
}

.projectButton span{
  font-size: 1rem;
}